<div>
    <div id="klipperviewer"></div>
</div>
<div id="klipperresponse">
</div>

<div id="klipperviewer-graph">
</div>

<script type="text/javascript" src="/plugin/KlipperViewer/static/generated_js/bundle.js"></script>